<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.securechatcapstone">

    <application
        android:name="com.demo.securechatcapstone.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.E2EE_MVP">
        <activity android:name="com.demo.securechatcapstone.search.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.demo.securechatcapstone.home.AppActivity" />
        </activity>
        <!--        <activity android:name=".SplashScreenActivity">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
        <activity android:name="com.demo.securechatcapstone.FriendProfileActivity">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".AppActivity" /> -->
        </activity>
        <activity android:name="com.demo.securechatcapstone.chat.ChatLogActivity">
            <!--            <meta-data-->
            <!--                android:name="android.support.PARENT_ACTIVITY"-->
            <!--                android:value=".home.AppActivity" />-->
        </activity>
        <activity android:name="com.demo.securechatcapstone.home.AppActivity">
        </activity>
        <activity android:name="com.demo.securechatcapstone.authen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>